.container-carrito{
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0;
    padding: 5px;
    border: solid 1px black;
    border-radius: 10px;
}
.img-carrito{
    width: 30px;
    height: auto;
    margin: 0;
    padding: 0;
}
.container-carrito p{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0px 0px 0px 5px;
    
 
}