.container-navbar{
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.container-search-logo-carrito{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.container-img-logo{
    width: 33%;
}
.img-logoSM{
    width: 150px;
    margin: 10px 0px 10px 0px; 
}
.container-list {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.container-list  a{
    margin: 0;
    padding: 0 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
}
.container-search{
    width: 33%;
}
.buscador{
    border: 2px solid red;
    width: 200px;
    height: auto;
}
